h1,
h2,
h3,
h4,
h5,
h6 {
   font-family: Staatliches, cursive;
   letter-spacing: 4px;
}

p {
   font-style: italic;
   font-variant: small-caps;
   font-weight: 700;
   font-size: 1.5rem;
   line-height: 2;
   font-family: 'Open Sans', sans-serif;

   font: italic small-caps 700 1.5rem / 2 'Opens Sans', sans-serif;
}
