//// --------------------------------------------------------------------------
/// Variables
//// --------------------------------------------------------------------------
$font-stack--headings: Solway, serif;
$font-stack--reading-text: Raleway, sans-serif;
$font-stack: 'Proxima Nova', sans-serif;
$width--desktop: 960px;
$width--tablet: 720px;
$width--mobile: 400px;
$color--test1: #fff;
$color--test2: #c0ffee;
$font-weight--light: 100;
$font-weight--bold: 700;
$font-weight--black: 900;
