@import 'reset';
@import 'variables';

html {
  background-color: $color--test2;
}

body {
  margin: auto;
  background-color: $color--test1;
  width: $width--desktop;
  font-family: $font-stack--reading-text;

  @media (max-width: $width--desktop) {
    width: $width--tablet;
  }

  @media (max-width: $width--tablet) {
    width: $width--mobile;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-stack--headings;
}

h1,
p {
  text-align: center;
}
